ul {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding: 0;
    list-style: none;
    text-align: center;
    z-index:9;
    li {
      color: #7c7c6e;
      a {
        padding: 7px 7px;
        display: block;
        font-size: 15px;
        line-height: 16px;
        color: #7c7c6e;
        text-decoration: none;
        span{
          padding-left:.5vw;
        }
      }

      &:hover {
        .anchor-icon, span {
          color: #ffd700;
        }
      }
    }
  }